<section class="home">
  <img src="../../assets/images/k12.png" alt="First Image" class="first-image">
  <div class="wave-container">
    <svg viewBox="0 0 1440 320">
      <path fill="#f3f3f3"
        d="M0,256L40,245.3C80,235,160,213,240,213.3C320,213,400,235,480,245.3C560,256,640,256,720,234.7C800,213,880,171,960,149.3C1040,128,1120,128,1200,154.7C1280,181,1360,235,1400,261.3L1440,288L1440,0L0,0Z">
      </path>
    </svg>
  </div>
  <h1>Categories</h1>
  <app-category-list />
</section>

<h4><strong>Videos food🎞</strong></h4>
<hr class="custom-divider">
<h4>-Dairy videos food-</h4>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=9429480465092362" height="713" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=6614730698269382" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=140806232565316" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=70437487332947" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=68539225570264265" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=2885187254965611" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=4714774604158525" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<h4>-Meat videos food-</h4>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=325314773104405519" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=1033365077001091955" height="714" width="345"
  frameborder="0" scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=375065475233406522" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=140806232394938" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<h4>-Parve videos food-</h4>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=656751558169529641" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=4996249580487104" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=11470174046190585" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=18577417207201951" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=203365739419446826" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=3940718419715163" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>
<iframe src="https://assets.pinterest.com/ext/embed.html?id=3659243440588462" height="714" width="345" frameborder="0"
  scrolling="no"></iframe>